@use "mixins" as*;
$blanco: #ffffff;
$azul: #354E90;
$gris-claro: #f8f8f8;
$gris-borde: #e0e0e0;
$gris-oscuro-texto: #333;
$gris-medio-texto: #777;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: $gris-claro;
    color: $gris-oscuro-texto;
}

/* NAV */
.menu {
    position: fixed;
    width: 100%;
    background-color: $azul;
    z-index: 1;
}
.titulo-nav {
    @include flex(row,center,flex-start);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: start;
    padding: 10px 20px;
    border: unset;
    border-radius: 15px;
    color: $azul;
    background: $blanco;
    position: relative;
    font-weight: 1000;
    font-size: 80%;
    overflow: hidden;
}
.container-nav{
    padding-right: 10rem;
}
.menu-nav {
    text-transform: uppercase;
    color: $blanco;
    margin: 0 1rem;
    font-size: 100%;
}